.container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.min-height{
    min-height: 75%;
}