.logo{
    color:white;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.logo h1{
    font-size: 2em;
}

.logo span{
    color:#ffbb33
}

.logo a{
    color:#fceccbf7
}

.logo a:hover{
    color:#ffbb33
}